<article>
  <h1>{{title}}</h1>
  <p>Created on {{createdAt}}</p>
  <p>By {{user.username}}</p>
  <p>{{content}}</p>
</article>

<section>
  <h2>Comments</h2>
  {{#each comments}}
    <div>
      <p>{{this.content}}</p>
      <p>By {{this.user.username}} on {{this.createdAt}}</p>
    </div>
  {{/each}}

  {{#if logged_in}}
    <form id="comment-form">
      <textarea name="content" placeholder="Add a comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  {{else}}
    <p><a href="/login">Log in</a> to leave a comment.</p>
 {{/if}}
</section>

<script src="/js/comment.js"></script>
